*{
	box-sizing: border-box;
}

body{
	margin: 0;
}

h1,h2,h3,p{
	margin: 0;
}

body{
	font-family: "Commissioner",sans-serif;
	min-height: 100vh;
}

main{
	max-width: 700px;
	padding: 2rem;
}

h1{
	margin-bottom: 2rem;
}

h2{
	margin-bottom: 1rem;
}

a{
	text-decoration: none;
}

footer{
	padding: 2rem;
}

nav{
	padding: 2rem;
	display: flex;
	justify-content: space-between;
}

ul{
	margin: 0;
	padding: 0;
	display: flex;
}

li{
	list-style: none;
}

li + li{
	margin-left: 1rem;
}

input{
	border: none;
	outline: none;
	width: 100%;
	padding: .5rem;
	font-family: "Commissioner",sans-serif;
}

button{
	color: var(--fg,#fc7753);
	background: var(--bg,#5d576b);
	border: none;
	font-family: "Commissioner",sans-serif;
	padding: .75rem 2rem;
	border-radius: 2rem;
	margin-top: 1rem;
}

button:hover{
	cursor: pointer;
}

article{
	padding: 2rem;
	margin: 1rem auto 0;
	max-width: 900px;
}

.options{
	display: flex;
	justify-content: space-around;
}

.container{
	padding: 1rem;
}

.tac{
	text-align: center;
}

.register-section{
	max-width: 800px;
	padding: 2rem;
}

.input-container{
	border: 1px solid black;
}

form > div+div{
	margin-top: 1rem;
}

.df{
	display: flex;
}

.error-msg{
	display: none;
	color:crimson;
	margin-top: .35rem;
}

.error-msg.active-error{
	display: block;
	font-size: .8rem;
}

.list{
	padding: 7 1rem;
	color:white;
	background: brown;
	border-radius: 2rem;
	display: inline-block;
}

.list + .list{
	margin-left: 1rem;
}

.task-circle{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid black;
}

.task-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border: 1px solid black;
}

.task-container:hover{
	cursor: pointer;
}

.task-container + .task-container{
	border-top: 1px solid black;
}

.task{
	align-items: center;
}

.task-content{
	margin-left: 1rem;
}

.cross-img{
	width: 25px;
}
